body {
    text-align: center;
    background-color:#B0E3E6;
  }
  
  .title {
    margin-top: 20px;
  }
  
  .input-container {
    margin-top: 20px;
  }
  
  table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .edit-button, .delete-button {
    margin-left: 0.01em;
  }
  #add-button {
    background-color:#CDEB8B;
    border-radius: 0.20em;
  }
  #RaderaValda {
    background-color:#eb988b;
    border-radius: 0.20em;
  }
  #RaderaAlla {
    background-color:#eb988b;
    border-radius: 0.20em;
  }

  th, td {
    border: 0.1em solid black;
    padding: 0.75em;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }


  th {
    background-color: #4CAF50;
    color: white;
  }

  .rounded-table {
    border-radius: 1.5em;
    overflow: hidden;
  }
  tr.highlighted-row {
    background-color: #FFCC99;
  }
  
  tr:nth-child(even).highlighted-row {
    background-color: #FFCC99; 
  }